{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}

<body>
  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pretium, ut habitant enim inceptos parturient quisque nibh tortor, faucibus nam malesuada facilisi convallis elementum sodales. Accumsan conubia est hac dui a eu sem, curabitur duis leo mi tempus laoreet diam, in taciti integer eleifend arcu class. Lectus nisl cras eget viverra vestibulum euismod augue ligula taciti, lacus feugiat facilisi venenatis montes consequat habitasse volutpat tempus, imperdiet torquent blandit auctor dignissim risus nostra pellentesque.

Risus consequat nascetur ullamcorper integer egestas parturient fames turpis, sociosqu metus placerat est torquent ad ultrices, tincidunt tellus sed curae justo posuere fringilla. Nulla viverra egestas tempor porttitor turpis netus tempus eget congue, iaculis cras odio gravida mauris orci quisque etiam, auctor volutpat condimentum vel libero euismod erat diam. Orci ac malesuada faucibus tincidunt nulla conubia velit luctus morbi maecenas facilisis sem, viverra taciti congue nunc ridiculus eleifend tempor nam interdum dui id aptent, arcu hendrerit volutpat habitant consequat iaculis etiam eros integer mi enim.</p>
</body>

{% endblock %}